<!DOCTYPE html>
<html>
  <head>
    <title>Harness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body data-controller="user-session" data-action="user-session:timedout@document->user-session#reload">
    <%= yield %>
  </body>
</html>
